body {
  background-image: url("../images/viviana-rishe-742282-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#clientForm {
  text-align: center;
  padding: 10px;
}

#btn-ClientSubmit {
  border: 1px solid black;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 30px;
  background-image: url(../images/summer.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
}
#btn-ClientSubmit:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: translate(3px, 30px);
  transition: box-shadow 2s, transform 2s;
  background-image: url(../images/summer.jpg);
  height: 60px;
  width: 320px;
  transform: rotate(360deg);
}
#clock {
  color: black;
  font-size: 80px;
  font-family: "Sue Ellen Francisco", cursive;
  text-align: center;
  text-transform: uppercase;
}

#banner {
  color: black;
  font-size: 40px;
  text-align: center;
  padding-right: 0px;
  font-family: "Sue Ellen Francisco", cursive;
  text-transform: uppercase;
  margin-top: 10px;
}

#newyork {
  color: black;
  font-family: "Sue Ellen Francisco", cursive;
  text-align: center;
  text-transform: uppercase;
  background-image: url(../images/newyork.jpg);
  width: 25%;
  margin: auto;
  border: 1px solid black;
  opacity: 0.9;
  margin-top: 40px;
  font-size: 80px;
  border-radius: 30px;
}
.city {
  display: inline;
  font-size: 5px;
  margin-right: 5%;
  margin-left: 10%;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}
.wind {
  margin-right: 40px;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}
.humidity {
  margin-right: 40px;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}
.temp {
  margin-right: 40px;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  opacity: 0.4;
}
.navbar-brand {
  font-family: "Pacifico", cursive;
  margin-left: 50px;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  body {
    background-repeat: repeat;
  }
}
@media only screen and (max-width: 900px) {
  #newyork {
    width: 50%;
  }
}
@media only screen and (max-width: 900px) {
  #btn-ClientSubmit {
    width: 50%;
  }
}
